{% load static %}

<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <!-- Header Menu Button -->
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" 
    data-class="c-sidebar-show">
      <svg class="c-icon c-icon-lg">
        <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-menu"></use>
      </svg>
    </button>
    <!-- Mobile Devices -->
    <a class="c-header-brand d-lg-none" href="#">
      <img class="c-sidebar-brand-full" width="46" height="46" src="{% static 'img/favicon.ico' %}" alt="Gotion Logo">
    </a>
    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" 
    data-class="c-sidebar-lg-show" responsive="true">
      <svg class="c-icon c-icon-lg">
        <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-menu"></use>
      </svg>
    </button>

    <!-- Header Navigation Bar -->
    <ul class="c-header-nav d-md-down-none">
      <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="{% url 'home' %}">Dashboard</a></li>
    </ul>

    <!-- Header Aside Icons -->
    <ul class="c-header-nav ml-auto mr-4">
      <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
          <svg class="c-icon">
            <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-bell"></use>
          </svg></a>
      </li>
      <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
          <svg class="c-icon">
            <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-list-rich"></use>
          </svg></a>
      </li>
      <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="#">
          <svg class="c-icon">
            <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-envelope-open"></use>
          </svg></a>
      </li>
    </ul>
    
    <!-- Breadcrumb -->
    {% include 'base/breadcrumb.html' %}
    <!-- Breadcrumb Menu-->
    {% block breadcrumb %}
    {% endblock %}

  </header>