
{% load static %}
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <!-- Sidebar Logo -->
    <div class="c-sidebar-brand d-lg-down-none">
      <img class="c-sidebar-brand-full" width="46" height="46" src="{% static 'img/favicon.ico' %}" alt="Gotion Logo">
      <img class="c-sidebar-brand-minimized" width="46" height="46" src="{% static 'img/favicon.ico' %}" alt="Gotion Logo">
    </div>

    <!-- Sidebar Navigation Tags -->
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">Gotion RDB</li>
        <!-- Dashboard Tag -->
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{% url 'home' %}">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-home"></use>
                </svg> Homepage
                <span class="badge badge-info">NEW</span>
            </a>
        </li>

    <!-- Group Starts -->
    <li class="c-sidebar-nav-title">Database System</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{% url 'search' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-find-in-page"></use>
            </svg> Search
        </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{% url 'database_dashboard' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-speedometer"></use>
            </svg> Dashboard
        </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{% url 'file_upload' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-cloud-upload"></use>
            </svg> File Upload
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{% url 'file_download' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-cloud-download"></use>
            </svg> File Download
        </a>
    </li>

    <!-- Group Ends -->

  </ul>
  <!-- Minimizer-->
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>

</div>
