
{% extends 'base/base.html' %}
{% load static %}
{% block content %}

	<h3>Example layout of using template to fetch some records from database</h3>
	<hr>

	<!-- Show something from Gotion RDB -->
	<div class="card">
        <div class="card-header">Members
        </div>
        <div class="card-body">
        	<table class="table table-responsive-sm">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Telephone</th>
                  </tr>
                </thead>
                <tbody>
		        	{% for member in members %}
	                    <tr>
		                    <td>{{member.name}}</td>
		                    <td>{{member.title}}</td>
		                    <td>{{member.dept_field}}</td>
		                    <td>{{member.telephone_field}}</td>
	                    </tr>
		        	{% endfor%}
                </tbody>
            </table>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        </div>
	</div>

	<div class="card">
        <div class="card-header">Issues
        </div>
        <div class="card-body">
        	<table class="table table-responsive-sm">
                <thead>
                  <tr>
                    <th>Issue ID</th>
                    <th>Customer</th>
                    <th>Identify</th>
                    <th>Description</th>
                    <th>Open Date</th>
                    <th>Closed Date</th>
                    <th>Due Date</th>
                  </tr>
                </thead>
                <tbody>
		        	{% for issue in issues %}
	                    <tr>
		                    <td style="min-width: 100px">{{issue.id}}</td>
		                    <td>{{issue.customer}}</td>
		                    <td>{{issue.identify}}</td>
		                    <td>{{issue.description}}</td>
		                    <td style="min-width: 100px">{{issue.open_date}}</td>
		                    <td style="min-width: 110px">{{issue.closed_date}}</td>
		                    <td style="min-width: 100px">{{issue.due_date}}</td>
	                    </tr>
		        	{% endfor%}
                </tbody>
            </table>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        </div>
	</div>


    <!-- Plugins and scripts required by this view-->
    <script src="{% static 'dist/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js' %}"></script>
    <script src="{% static 'dist/vendors/@coreui/utils/js/coreui-utils.js' %}"></script>
    <script src="{% static 'dist/js/charts.js' %}"></script>

{% endblock %}
