{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div>
    <div class="column">  
      <!-- Start of Container -->
      <!-- <h1>Welcome</h1> -->
      <div class="card-columns cols-2">
        <!--  Widget-->
        <div class="card"> 
          <div class="card-header">Projects Summary</div>

          <div class="card-body bg-info text-white border-white">
            <div class="text-muted text-right mb-4">
              Optional text here
              <svg class="c-icon c-icon-2xl">
                <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-file"></use>
              </svg>
            </div>
            <div class="text-value-lg" style="margin-top: -30px">87</div>
            <small class="text-muted text-uppercase font-weight-bold">Ongoing Projects</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="25" aria-valuemin="0" 
              aria-valuemax="100"></div>
            </div>
          </div>

          <div class="card-body bg-success text-white border-white">
            <div class="text-muted text-right mb-4">
              <svg class="c-icon c-icon-2xl">
                <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-file"></use>
              </svg>
            </div>
            <div class="text-value-lg" style="margin-top: -30px">100</div>
            <small class="text-muted text-uppercase font-weight-bold">All Projects</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" 
              aria-valuemax="100"></div>
            </div>
          </div>

          <div class="card-body bg-dark text-white border-white">
            <div class="text-muted text-right mb-4">
              <svg class="c-icon c-icon-2xl">
                <use xlink:href="{% static 'dist/vendors/@coreui/icons/svg/free.svg' %}#cil-file"></use>
              </svg>
            </div>
            <div class="text-value-lg" style="margin-top: -30px">33</div>
            <small class="text-muted text-uppercase font-weight-bold">Issues</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="25" aria-valuemin="0" 
              aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <!-- Pie Chart -->
        <div class="card" style="min-height: "> 
            <div class="card-header">Projects Percentage</div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="main-piechart"></canvas>
              </div>
            </div>
          </div>
        </div>
      
      <!-- End of Container -->
    </div>
  </div>


  <!-- Plugins and scripts required by this view-->
  <script src="{% static 'dist/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js' %}"></script>
  <script src="{% static 'dist/vendors/@coreui/utils/js/coreui-utils.js' %}"></script>
  <script src="{% static 'dist/js/main.js' %}"></script>

{% endblock %}